@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: #fff8ef;
}

#logoNavBar {
  width: 20%;
  height: auto;
}

#redesSociales {
  margin-right: 8rem;
}

.navBar {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  width: 100vw;
  height: auto;
  box-shadow: 0px 5px 7px 0px rgba(59, 59, 59, 0.75);
  align-items: center;
}
.navBar icon {
  margin-top: 1rem;
  width: 1rem;
}

.nombreCard {
  font-size: 1rem;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  background-size: 100vw;
  align-items: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 5px 0px 7px 0px rgba(59, 59, 59, 0.75);
}
#footer div {
  flex-direction: horizontal;
  flex-wrap: wrap;
  align-content: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.divCentrado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.divCentrado button {
  padding: 1%;
  margin: 1%;
}

.cardItem {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 5px 0px 7px 0px rgba(145, 145, 145, 0.75);
}

.buttonVerMas {
  background-color: #004f8f;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  border-color: none;
}

.linkPrincipal, .linkRed {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  font-weight: bold;
}

.linksEstilo,
#navbarDropdown {
  text-decoration: none;
  font-size: 1rem;
  color: #683a94;
}
.linksEstilo .linkCate,
#navbarDropdown .linkCate {
  font-size: 0.75rem;
}

.linksEstilo:hover {
  color: gray;
}

#navbarDropdown:hover {
  color: gray;
}

.loader {
  color: #500064;
  font-size: 2rem;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: mulShdSpin 1.3s infinite linear;
          animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  justify-content: space-around;
}

@-webkit-keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.cartWidget {
  margin-top: -1rem;
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  #navOrden {
    align-items: center;
  }

  .linkPrincipal, .linkRed {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    text-decoration: none;
    justify-content: space-around;
    font-weight: bold;
  }

  .cartEstilo {
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: #683a94;
    text-decoration: none;
    justify-content: space-around;
  }
  .cartEstilo .cartEstilo:hover {
    color: gray;
  }

  #cartEst {
    text-decoration: none;
    color: #683a94;
    justify-content: space-around;
  }

  .cartEst:hover {
    color: gray;
  }

  #cateBoton {
    text-decoration: none;
    background-color: #683a94;
    color: white;
    justify-content: space-around;
  }
  #cateBoton #cateBoton:hover {
    background-color: gray;
  }

  #footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .miNombre {
    margin-top: -1rem;
  }
}
@media only screen and (min-width: 600px) {
  .linkPrincipal, .linkRed {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    text-decoration: none;
    font-weight: bold;
  }

  .cartEstilo {
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: #683a94;
    text-decoration: none;
  }
  .cartEstilo .cartEstilo:hover {
    color: gray;
  }

  #cartEst {
    text-decoration: none;
    color: #683a94;
  }

  .cartEst:hover {
    color: gray;
  }

  #cateBoton {
    text-decoration: none;
    background-color: #683a94;
    color: white;
  }
  #cateBoton #cateBoton:hover {
    color: #683a94;
    background-color: white;
  }

  .dropdown-item {
    color: #683a94;
    background-color: white;
  }
  .dropdown-item .dropdown-item:active {
    color: #683a94;
    background-color: white;
    font-weight: bold;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1920px) {
  #navOrden {
    display: inline-block;
    flex-shrink: unset;
  }

  .dropdown-item {
    color: #683a94;
    background-color: white;
  }
  .dropdown-item .dropdown-item:active {
    color: #683a94;
    background-color: white;
    font-weight: bold;
  }
}/*# sourceMappingURL=estilos.css.map */