@import url("https://fonts.googleapis.com/css2?family=Pushster&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Pushster", cursive;
  text-decoration: none;
}

body {
  background-color: #fff8ef;
}

#logoNavBar {
  width: 20%;
  height: auto;
}

.navBar {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  width: 100vw;
  height: auto;
  box-shadow: 0px 5px 7px 0px rgba(59, 59, 59, 0.75);
  align-items: center;
}
.navBar icon {
  margin-top: 1rem;
  width: 1rem;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  background-size: 100vw;
  align-items: center;
  align-content: center;
  text-decoration: none;
  box-shadow: 5px 0px 7px 0px rgba(59, 59, 59, 0.75);
}
#footer div {
  flex-direction: horizontal;
  flex-wrap: wrap;
  align-content: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.divCentrado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.divCentrado button {
  padding: 1%;
  margin: 1%;
}

.cardItem {
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: 5px 0px 7px 0px rgba(145, 145, 145, 0.75);
}

#buttonVerMas {
  background-color: #08ceff;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  border-color: none;
}

.linksEstilo,
#navbarDropdown {
  text-decoration: none;
  font-size: 1rem;
  color: #683a94;
}
.linksEstilo .linkCate,
#navbarDropdown .linkCate {
  font-size: 0.75rem;
}

.linksEstilo:hover {
  color: gray;
}

#navbarDropdown:hover {
  color: gray;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: mulShdSpin 1.3s infinite linear;
          animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@-webkit-keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@media only screen and (min-width: 360px) and (max-width: 600px) {
  .linkRed {
    visibility: hidden;
  }

  .navBar {
    justify-content: space-around;
  }

  .logoAlychico {
    visibility: hidden;
  }
}/*# sourceMappingURL=estilos.css.map */